:root {
    --background: #DD4258;
    --modal: #dd425990;
    --primary: #710625;
    --secondary: #FFF8E8;
    --tertiary: #FCD581;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    color: var(--secondary);     
}

body {
    background-color: var(--background);        
}

body main {    
    margin: 3em 2em;   
    scroll-behavior: smooth;     
}

main > h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: var(--primary);  
}

main > #recipe-content > #add-sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-bottom: 2em;
}

#add-sort-container > #add-screen-button {
    background: var(--primary);
    border: none;
    font-size: 1.1em;    
    padding: 0.5em 0.75em;
    border-radius: 0.3em;
    cursor: pointer;    
    transition: all 100ms;
}

#add-sort-container > #add-screen-button:hover {
    border: none;
    outline: solid 0.2em var(--secondary);
}

#add-screen-button > a {
    text-decoration: none;      
}

#add-sort-container > #sort-label-container {
    display: flex;
    gap: 0.5em;
}

#sort-label-container > label {
    color: var(--primary);
    white-space: nowrap;
}

#sort-container > select {
    appearance: none;  
    background-color: var(--primary);
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;    
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    grid-area: select;
}

#sort-container {    
    width: 90%;
    height: 100%;
    min-width: 15ch;
    max-height: 30ch;
    background-color: var(--primary);
    padding: 0.25em 0.5em;
    border-radius: 0.3em;                
    cursor: pointer;
    line-height: 1.1;
    font-size: 1rem;    
    display: grid;
    align-items: center;
    grid-template-areas: "select";
    transition: all 100ms;
}

#sort-container > select::-ms-expand {
    display: none;
}

#sort-container:hover {
    outline: solid 0.2em var(--secondary);    
}

#sort-container:after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--tertiary);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    grid-area: select;
    justify-self: end;
}

#recipe-content > #filter-container {
    display: flex;     
    flex-direction: column;   
    gap: 0.5em;
}

#filter-container > p {
    color: var(--primary);
    font-size: 1.5em;
    font-weight: bold;
}

#filter-container > #filter-options {
    display: grid;
    column-gap: 0.2em;
    grid-template-columns: repeat(3, minmax(0, 1fr));    
}

#filter-options > .checkbox {
    display: flex;
    align-items: center;
    gap: 0.2em;
    margin-bottom: 0.2em;
    font-weight: normal;    
}

.checkbox > input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: var(--tertiary);
    cursor: pointer;
    border-radius: 0.15em;
    transition: all 100ms;
}

.checkbox > input[type=checkbox]:checked {
    background-color: var(--primary);  
} 

.checkbox > input[type=checkbox]:hover {
    outline: var(--secondary) solid 0.2em;
}


.checkbox > input[type=checkbox]:checked:hover {
    outline: var(--secondary) solid 0.2em;
} 

#filter-container > #clear-btn {
    background: var(--primary);
    padding: 0.5em;
    font-size: 1.25em;    
    border-radius: 0.4em;
    color: var(--secondary);
    border: none;   
    cursor: pointer; 
    transition: all 100ms;
}

#filter-container > #clear-btn:hover {
    outline: solid 0.2em var(--secondary);
}

#recipe-content > #recipes-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#recipes-container > #recipe-card {
    background-color: var(--primary);
    border: none;
    border-radius: 0.6em;
    padding: 2em 1.5em; 
    cursor: pointer;   
    transition: all 100ms;
    display: flex;   
    align-items: center; 
    gap: 2em;
    text-decoration: none;
}

#recipes-container > #recipe-card:hover {
    outline: solid 0.3em var(--secondary);
}

#recipe-card > a {
    display: flex;   
    align-items: center; 
    gap: 2em;
    text-decoration: none;
}

#card-alt-container > #card-alt {
    font-size: 3em;
}

#recipe-card > #card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: flex-start;
    font-size: 1.25em;    
    width: 60%;
}

#card-content > h2 {
    font-size: 2em;
    word-wrap: break-word;    
    text-align: start;
}

#recipe-card > img {
    width: 6em;
    height: 6em;    
    object-fit: cover;
    outline: solid 0.4em var(--secondary);
    border-radius: 0.4em;
}

#recipe-card > #card-alt-container {
    width: 6em;
    height: 6em;    
    outline: solid 0.4em var(--secondary);
    border-radius: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modal */

main.view-fixed {
    position: fixed;
    overflow: hidden;           
}

.ReactModal__Overlay {
    overflow-y: scroll;
}

.Modal {
    background-color: var(--primary);
    margin: 3em 2em;
    padding: 2em 1.5em; 
    border-radius: 0.6em;    
    position: relative;
}

#view-container > #view-title {
    display: flex;
    justify-content: space-between;  
    align-items: flex-start;  
}

#view-title > #view-close-btn {
    background: none;
    border: none;    
    font-size: 2em;
    cursor: pointer;
}

#view-title > #view-close-btn:hover svg > path {
    color: var(--tertiary);
}

#view-container > #view-img {
    width: 99%;
    height: 10em;
    object-fit: cover;
    margin: 2em 0;
    outline: solid 0.4em var(--tertiary);
    border-radius: 0.5em;
}

#view-container > #prep-cook-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;    
}

#view-container > #view-servings {
    margin-bottom: 0.5em;
}

#view-container > #category-container {
    display: flex;
    flex-direction: column;
}

#category-container > #category-list {
    display: flex;
    gap: 0.5em;        
}

#category-list > p {
    border: var(--tertiary) solid 0.1em;
    border-radius: 0.5em;
    padding: 0.25em 0.5em;
    text-transform: capitalize;
    margin-top: 0.5em;
}

#view-container > #view-description {
    margin: 2em 0;
}

#view-container > #view-ingredients {
    font-size: 1.1em;
    margin-bottom: 1em;    
}

#view-ingredients > #view-ingredients-title {
    margin-bottom: 0.5em;
}

#view-container > #view-method {
    font-size: 1.1em;
    margin-bottom: 1em; 
}

#view-method > #view-method-title {
    margin-bottom: 0.5em;
}

#view-container > #view-notes {
    margin-bottom: 2em;
}

#view-container > #edit-delete-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

#edit-delete-container > button {
    background: none;
    outline: solid var(--tertiary) 0.2em;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    font-size: 1.5em;    
    cursor: pointer;
}

#edit-delete-container > button:hover {
    background: var(--modal);
}

#edit-delete-container > button > a {
    text-decoration: none;
}

/* Delete modal */

#view-container > #delete-modal {
    position: absolute;
    background-color: #710624d9;    
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 0.3em;
    padding: 2em 1.5em;
    text-align: center;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#delete-modal > #delete-button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
}

#delete-button-container > button {
    background: none;
    border: none;
    border-radius: 0.3em;
    padding: 0.25em 0.5em;
    font-size: 1em;    
    cursor: pointer;
    outline: solid var(--tertiary) 0.2em;
}

#delete-button-container > button:hover {
    background: var(--modal);
}

/* No recipes */

main > #empty-list {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#empty-list > button {
    background: none;
    width: fit-content;
    border: none;
    font-size: 1.75em;    
}

#empty-list > button:hover a {
    color: #fff8e8b1;   
}

#empty-list > button > a {
    text-decoration: none;
}